agm-map {
    height: 300px;
  }
  .img-place{
    width: 400px;
    height: 300px;
    margin-top: 25px;
  }
  #map{
    margin-top: 0px !important;
  }
  #search{
    margin-bottom: 15px ;
  }
  #id_google{
    display: none;
  }