<ng-snotify></ng-snotify>
<!--Confirm Action Starts-->
<section id="action">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Confirm Action</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ng2-smart-table [settings]="alertsettings"  [source]="alertSource" (deleteConfirm)="onDeleteConfirm($event,template)" (editConfirm)="onSaveConfirm($event,template)"
                            ></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Confirm Action Ends-->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" style="color: white !important" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
